@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/* Palette couleurs */
/*Header page d'acceuil*/
header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}

/*Header pages restaurants*/
.header {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__fleche-retour {
  position: absolute;
  left: 25px;
  font-size: 25px;
  font-weight: bolder;
}

/*Body*/
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/*Décoration liens*/
a {
  text-decoration: none;
  color: black;
}

/*Footer*/
.footer {
  background-color: #353535;
  height: 150px;
}
.footer__titre {
  font-family: "Shrikhand";
  font-weight: 100;
  color: #ffffff;
  padding: 20px 0 0 10px;
}
.footer__liste {
  list-style: none;
  color: #ffffff;
  padding-inline-start: inherit;
  padding-left: 10px;
}
.footer__liste-info {
  color: #ffffff;
  padding-top: 10px;
  font-weight: 400;
}

/*Structure page d'accueil*/
.lieu {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  align-items: center;
  box-shadow: inset 0px 3px 5px 0px #7e7e7e;
}
.lieu__icone {
  margin-right: 20px;
  color: #353535;
}
.lieu__ville {
  color: #353535;
  font-size: large;
  font-weight: bold;
}

.concept {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
}
.concept__conteneur {
  padding: 25px 40px 40px 40px;
}
.concept__titre {
  font-size: 25px;
  font-weight: bolder;
}
.concept__texte {
  font-size: 15px;
}

.tuto__conteneur {
  display: flex;
  flex-direction: column;
}

.tuto__titre {
  font-size: 25px;
  font-weight: bolder;
  margin: 20px;
}
.tuto__step {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 5px #7e7e7e;
}
.tuto__chiffre {
  background-color: #9356DC;
  color: #ffffff;
  padding: 3px 8px 3px 8px;
  border-radius: 20px;
  position: absolute;
  left: 10px;
}
.tuto__icon {
  margin-right: 40px;
  color: #7e7e7e;
}
.tuto__texte {
  font-size: 15px;
  font-weight: bold;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.restaurant__cartes {
  width: 100%;
  margin-top: 15px;
}
.restaurant__carte {
  width: 100%;
  height: 220px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
}
.restaurant__nouveau {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  padding: 5px;
  margin-top: 15px;
  right: 35px;
  font-size: small;
  font-weight: bold;
}
.restaurant__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 17px 17px 0 0;
}
.restaurant__bloc-nom {
  margin: 0%;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.restaurant__bloc-lieu {
  padding-left: 10px;
  margin-top: 5px;
}
.restaurant__bloc-coeur {
  position: relative;
  display: flex;
  justify-content: flex-end;
  bottom: 50px;
  right: 20px;
}

/*Structure pages Restaurants*/
/*Image*/
.img__restaurants {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

/*Menu*/
.menu {
  background-color: #f6f6f6;
  border-radius: 20px;
  position: relative;
  margin-top: -18%;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.menu__header-titre {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Shrikhand", sans-serif;
}
.menu__header-heart {
  font-size: 25px;
  font-weight: bolder;
}
.menu__elements {
  padding-left: 10px;
  padding-right: 10px;
}
.menu__titre {
  text-transform: uppercase;
}
.menu__plats {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
  margin-top: 20px;
  width: 100%;
}
.menu__plats-noms {
  font-size: 17px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0%;
}
.menu__plats-accompagnements {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0%;
}
.menu__prix {
  position: absolute;
  right: 40px;
  margin: -5%;
  font-weight: bold;
}
.menu__box {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 5%;
  left: 22rem;
  margin: -15%;
  padding: 15px;
}
.menu__validation {
  color: #ffffff;
}

/*Boutons*/
.concept__bouton {
  border: 0;
  padding: 12px;
  color: #ffffff;
  border-radius: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}

.menu__bouton {
  border: 0;
  padding: 12px;
  color: #ffffff;
  border-radius: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
.menu__bouton--conteneur {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
