@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/* Palette couleurs */
/*animations d'aparrition menu*/
@keyframes menu {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*Header page d'acceuil*/
header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}

/*Header pages restaurants*/
.header {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__fleche-retour {
  position: absolute;
  left: 25px;
  font-size: 25px;
  font-weight: bolder;
}

/*Body*/
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/*Décoration liens*/
a {
  text-decoration: none;
  color: black;
}

/*Footer*/
.footer {
  background-color: #353535;
  height: 150px;
}
.footer__titre {
  font-family: "Shrikhand";
  font-weight: 100;
  color: #ffffff;
  padding: 20px 0 0 10px;
}
.footer__liste {
  list-style: none;
  color: #ffffff;
  padding-inline-start: inherit;
  padding-left: 10px;
}
.footer__liste-info {
  color: #ffffff;
  padding-top: 10px;
  font-weight: 400;
}

/*Structure page d'accueil*/
.lieu {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  align-items: center;
  box-shadow: inset 0px 3px 5px 0px #7e7e7e;
}
.lieu__icone {
  margin-right: 20px;
  color: #353535;
}
.lieu__ville {
  color: #353535;
  font-size: large;
  font-weight: bold;
}

.concept {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
}
.concept__conteneur {
  padding: 25px 40px 40px 40px;
}
.concept__titre {
  font-size: 25px;
  font-weight: bolder;
}
.concept__texte {
  font-size: 15px;
}

.tuto__conteneur {
  display: flex;
  flex-direction: column;
}

.tuto__titre {
  font-size: 25px;
  font-weight: bolder;
  margin: 20px;
}
.tuto__step {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 5px #7e7e7e;
}
.tuto__step:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 6px #e6e6e6;
  background: linear-gradient(#FF79DA, #9356DC);
}
.tuto__chiffre {
  background-color: #9356DC;
  color: #ffffff;
  padding: 3px 8px 3px 8px;
  border-radius: 20px;
  position: absolute;
  left: 10px;
}
.tuto__icon {
  margin-right: 40px;
  color: #7e7e7e;
}
.tuto__texte {
  font-size: 15px;
  font-weight: bold;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}
.restaurants__cartes {
  margin-top: 20px;
}

.restaurant__cartes {
  width: 100%;
  margin-top: 15px;
}
.restaurant__carte {
  width: 100%;
  height: 220px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
}
.restaurant__nouveau {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  padding: 5px;
  margin-top: 15px;
  right: 35px;
  font-size: small;
  font-weight: bold;
}
.restaurant__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 17px 17px 0 0;
}
.restaurant__bloc-nom {
  margin: 0%;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.restaurant__bloc-lieu {
  padding-left: 10px;
  margin-top: 5px;
}
.restaurant__bloc-coeur {
  position: relative;
  display: flex;
  justify-content: flex-end;
  bottom: 50px;
  right: 20px;
}

/*Structure pages Restaurants*/
/*Image*/
.img__restaurants {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

/*Menu*/
.menu__conteneur {
  background-color: #f6f6f6;
  border-radius: 30px;
  position: relative;
  margin-top: -30px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.menu__header-titre {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Shrikhand", sans-serif;
}
.menu__header-heart {
  font-size: 25px;
  font-weight: bolder;
}
.menu__elements {
  padding-left: 10px;
  padding-right: 10px;
}
.menu__titre {
  text-transform: uppercase;
}
.menu__plats1 {
  margin-top: 10px;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
  animation: menu 0.5s ease-in;
}
.menu__plats1:hover .menu__box {
  width: 70px;
}
.menu__plats1:hover .menu__box > .fa-circle-check {
  transform: rotate(0deg);
}
.menu__plats2 {
  margin-top: 10px;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
  animation: menu 1s ease-in;
}
.menu__plats2:hover .menu__box {
  width: 70px;
}
.menu__plats2:hover .menu__box > .fa-circle-check {
  transform: rotate(0deg);
}
.menu__plats3 {
  margin-top: 10px;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
  animation: menu 1.5s ease-in;
}
.menu__plats3:hover .menu__box {
  width: 70px;
}
.menu__plats3:hover .menu__box > .fa-circle-check {
  transform: rotate(0deg);
}
.menu__plats4 {
  margin-top: 10px;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #e6e6e6;
  animation: menu 2s ease-in;
}
.menu__plats4:hover .menu__box {
  width: 70px;
}
.menu__plats4:hover .menu__box > .fa-circle-check {
  transform: rotate(0deg);
}
.menu__plats-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plats-noms {
  font-size: 17px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0%;
}
.menu__plats-accompagnements {
  font-size: 14px;
  padding: 10px;
  margin: 0%;
}
.menu__prix {
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__box {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  transition: width 1s;
}
.menu__box .fa-circle-check {
  color: #ffffff;
  transform: rotate(360deg);
  transition: transform 500ms;
}

/*Boutons*/
.concept__bouton {
  cursor: pointer;
  border: 0;
  padding: 15px;
  color: #ffffff;
  border-radius: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.concept__bouton:hover {
  box-shadow: 4px 4px 6px #e6e6e6;
  transform: scale(0.95);
}

.menu__bouton {
  cursor: pointer;
  border: 0;
  padding: 15px;
  color: #ffffff;
  border-radius: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 30px;
  margin-bottom: 30px;
}
.menu__bouton-conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__bouton:hover {
  box-shadow: 4px 4px 6px #e6e6e6;
  transform: scale(0.95);
}

/*Bouton like*/
.restaurant__coeur {
  background-color: #ffffff;
}
.restaurant__coeur::before {
  content: "\f004";
  font-weight: lighter;
  transition: color 1s ease-out;
  color: black;
  background-color: transparent;
}
.restaurant__coeur:hover::before {
  color: #FF79DA;
  cursor: pointer;
  font-weight: bold;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__coeur {
  background-color: #f6f6f6;
}
.menu__coeur::before {
  content: "\f004";
  font-weight: lighter;
  transition: color 1s ease-out;
  color: black;
}
.menu__coeur:hover::before {
  color: #FF79DA;
  cursor: pointer;
  background: #f6f6f6;
  font-weight: bold;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 760px) {
  body {
    width: 100%;
  }

  .tuto__titre {
    display: flex;
    justify-content: center;
  }
  .tuto__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tuto__step {
    width: 100%;
    position: relative;
  }
  .tuto__chiffre {
    position: absolute;
    margin: -20px;
  }
  .tuto__icon {
    margin: 20px;
  }

  .menu {
    display: flex;
    justify-content: center;
  }
  .menu__header {
    display: flex;
    justify-content: center;
  }
  .menu__header-heart {
    margin-left: 3%;
  }

  .restaurants__titre {
    display: flex;
    justify-content: center;
  }
  .restaurants__conteneur {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
  }

  .restaurant__carte {
    position: relative;
  }

  .footer__titre {
    display: flex;
    justify-content: center;
  }
  .footer__liste {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
