/*Boutons*/
.concept__bouton {
    border: 0;
    padding: 12px;
    color: $white;
    border-radius: 100px;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    cursor: pointer;
}

.menu__bouton {
    border: 0;
    padding: 12px;
    color: $white;
    border-radius: 100px;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    cursor: pointer;

    &--conteneur {
        @include display;
    }
}