@media screen and (min-width: 760px) {
    body {
        width: 100%;
        margin: 0%;
        padding: 0 ;
    }

    .tuto {
        &__titre {
            display: flex;
            justify-content: center;
        }

        &__steps {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        &__step {
            width: 100%;
            position: relative;
        }

        &__chiffre {
            position: absolute;
            margin: -20px;

        }

        &__icon {
            margin: 20px;
        }

    }

    .menu{
        display: flex;
        justify-content: space-between;

        &__header{
            display: flex;
            justify-content: center;
        }
        
        &__header-heart{
            margin-left: 3%;
        }
    }


    .restaurants {
        &__titre {
            @include display;
        }

        &__conteneur {
            display: grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 40% 40%;
            justify-content: space-evenly;
        }

    }

    .restaurant {
        &__carte {
            position: relative;
        }
    }

    .footer {
        &__titre {
            @include display;
        }

        &__liste {
            @include display;
            justify-content: space-evenly;
            margin-top: 30px;
        }
    }
}