/*structure page d'accueil*/

.lieu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mercury;

    &__icone {
        margin-right: 20px;
        color: $mine-shaft;
    }

    &__ville {
        font-weight: bold;
        font-size: large;
        color: $mine-shaft;
    }
}

.concept {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $wild-sand;

    &__conteneur {
        margin: 15px;

    }

    &__titre {
        font-size: 25px;
        font-weight: bolder;
    }

    &__texte {
        font-size: 15px;
        color: $mine-shaft;
    }

}

.tuto__conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tuto {
    display: block;
    width: 100%;
    margin-right: 20px;

    &__titre {
        margin: 20px;
        font-size: 20px;
        font-weight: bolder;
    }

    &__step {
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: $wild-sand;
        margin: 15px;
        box-shadow: 3px 3px 5px $gray;
    }

    &__chiffre {
        background-color: $couleur-primaire ;
        color: $white;
        padding: 3px 8px 3px 8px;
        border-radius: 100px;
        position: absolute;
        left: 5px;
    }

    &__icon {
        margin-left: 40px;
        color: $gray;
    }

    &__texte {
        margin-left: 20px;
        font-size: 14px;
        font-weight: bold;
    }
}

.restaurants {
    background-color: $wild-sand;
    padding: 20px;
}

.restaurant {
    &__cartes {
        width: 100%;
        padding: 3px;
        margin-top: 15px;
    }

    &__carte {
        width: 100%;
        height: 220px;
        background-color: $white;
        border-radius: 17px;
        box-shadow: 4px 4px 6px #e6e6e6;
    }

    &__nouveau {
        display: flex;
        background-color: $morning-glory;
        width: auto;
        position: absolute;
        right: 30px;
        color: $deep-sea;
        padding: 5px;
        margin-top: 15px;
        font-size:small;
        font-weight:bold;
    }

    &__img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 17px 17px 0px 0px;
    }

    &__bloc-nom {
        margin: 1%;
        font-weight: bold;
        font-size: 17px;
    }

    &__bloc-lieu {
        margin: 0;
    }

    &__bloc-coeur {
        display: flex;
        position: absolute;
        right: 20px;
    }

}


.footer {
    background-color: $mine-shaft ;

    &__titre {
        font-family: 'Shrikhand', sans-serif;
        color: $white;
        margin-top: 20px;
    }

    &__liste {
        list-style: none;
        color: $white;
    }

    &__liste-info {
        color: $white;
    }

}