/*Structure page d'accueil*/
.lieu {
    @include display;
    background-color: $mercury;
    align-items: center;
    box-shadow: inset 0px 3px 5px 0px $gray;

    &__icone {
        margin-right: 20px;
        color: $mine-shaft;
    }

    &__ville {
        color: $mine-shaft;
        font-size: large;
        font-weight: bold;
    }
}

.concept {
    @include display;
    text-align: center;
    background-color: $wild-sand;

    &__conteneur {
        padding: 25px 40px 40px 40px;
    }

    &__titre {
        @include titre;
    }

    &__texte {
        font-size: 15px
    }
}

.tuto__conteneur {
    display: flex;
    flex-direction: column;
}

.tuto {
    &__titre {
        @include titre;
        margin: 20px;
    }

    &__step {
        @include display;
        align-items: center;
        @include border-radius;
        margin: 15px;
        padding: 10px;
        background-color: $wild-sand;
        box-shadow: 3px 3px 5px $gray;

        &:hover {
            opacity: 0.8;
            @include box-shadow;
            @include gradient-color;
        }
    }

    &__chiffre {
        background-color: $couleur-primaire;
        color: $white;
        padding: 3px 8px 3px 8px;
        @include border-radius;
        position: absolute;
        left: 10px;
    }

    &__icon {
        margin-right: 40px;
        color: $gray;
    }

    &__texte {
        font-size: 15px;
        font-weight: bold;

    }

}

.restaurants {
    background-color: $wild-sand;
    padding: 20px;

    &__cartes {
        margin-top: 20px;
    }
}

.restaurant {
    &__cartes {
        width: 100%;
        margin-top: 15px;
    }

    &__carte {
        width: 100%;
        height: 220px;
        background-color: $white;
        @include border-radius;
        box-shadow: 4px 4px 6px #e6e6e6;
    }

    &__nouveau {
        background-color: $couleur-tertiaire;
        color: $deep-sea;
        position: absolute;
        padding: 5px;
        margin-top: 15px;
        right: 35px;
        font-size: small;
        font-weight: bold;

    }

    &__img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 17px 17px 0 0;
    }

    &__bloc-nom {
        margin: 0%;
        margin-top: 10px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    &__bloc-lieu {
        padding-left: 10px;
        margin-top: 5px;
    }

    &__bloc-coeur {
        position: relative;
        display: flex;
        justify-content: flex-end;
        bottom: 50px;
        right: 20px;
    }
}