/*Structure pages Restaurants*/

/*Image*/
.img__restaurants {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

/*Menu*/
.menu {
    background-color: $wild-sand;
    @include border-radius;
    position: relative;
    margin-top: -18%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__header-titre {
        @include titre;
        font-family: 'Shrikhand', sans-serif;
    }

    &__header-heart {
        @include titre;
    }

    &__elements {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__titre {
        text-transform: uppercase;
    }

    &__plats {
        background-color: $white;
        @include border-radius;
        @include box-shadow;
        margin-top: 20px;
        width: 100%;
    }

    &__plats-delay1 {
        animation: menu 1s ease-out;
    }

    &__plats-delay2 {
        animation: menu 2s ease-out;
    }

    &__plats-delay3 {
        animation: menu 3s ease-out;
    }

    &__plats-delay4 {
        animation: menu 4s ease-out;
    }

    &__plats-noms {
        @include sous-titre;
        padding-top: 10px;
        padding-left: 10px;
        margin: 0%;
    }

    &__plats-accompagnements {
        @include texte;
        padding-top: 10px;
        padding-left: 10px;
        margin: 0%;
    }

    &__prix {
        position: absolute;
        right: 40px;
        margin: -5%;
        font-weight: bold;
    }

    &__box {
        background-color: $morning-glory;
        @include display;
        align-items: center;
        position: absolute;
        width: 5%;
        left: 22rem;
        margin: -15%;
        padding: 15px;
    }

    &__validation {
        color: $white;
    }


}