/*Structure pages Restaurants*/

/*Image*/
.img__restaurants {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

/*Menu*/
.menu {
    background-color: $wild-sand;
    border-radius: 30px;
    position: relative;
    margin-top: -30px;


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__header-titre {
        @include titre;
        font-family: 'Shrikhand', sans-serif;
    }

    &__header-heart {
        @include titre;
    }

    &__elements {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__titre {
        text-transform: uppercase;
    }

    &__plats {
        animation: menu 1s ease-out;
        background-color: $white;
        @include border-radius;
        @include box-shadow;
        width: 100%;
    }

    &__plats-delay1 {
        animation: menu 1s ease-out;
        display: flex;
        background-color: $white;
        @include border-radius;
        @include box-shadow;
        width: 100%;
    }

    &__plats-delay2 {
        animation: menu 2s ease-out;
        display: flex;
        background-color: $white;
        @include border-radius;
        @include box-shadow;
        width: 100%;
    }

    &__plats-delay3 {
        animation: menu 3s ease-out;
    }

    &__plats-delay4 {
        animation: menu 4s ease-out;
    }

    &__plats-noms {
        @include sous-titre;
        padding-top: 10px;
        padding-left: 10px;
        margin: 0%;
    }

    &__plats-accompagnements {
        @include texte;
        padding-top: 10px;
        padding-left: 10px;
        margin: 0%;
    }

    &__prix {
        font-weight: bold;
    }

    &__box {
        background-color: #99e2d0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%;
        padding: 15px;

        .fa-circle-check {
            color: $white;
        }
    }


}