/*animations d'aparrition menu*/
@keyframes menu {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes apparition{
    to {
        opacity: 0;
        transform: translateX(0px);
        z-index: -1;
    }
}