@mixin border-radius {
    border-radius: 20px;
}

@mixin background-color {
    background-color: $mine-shaft;
}

@mixin display {
    display: flex;
    justify-content: center;
}

@mixin titre {
    font-size: 25px;
    font-weight: bolder;
}
@mixin box-shadow {
box-shadow: 4px 4px 6px #e6e6e6
}
@mixin sous-titre {
    font-size:17px;
    font-weight:bold;
}
@mixin texte{
    font-size:14px;
}