// couleurs
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/* Palette couleurs */
$mercury: #eaeaea;
$mine-shaft: #353535;
$wild-sand: #f6f6f6;
$gray: #7e7e7e;
$deep-sea: #008766;
$white: #ffffff;
$lavender: #d96ddb;