/*Loader*/
.loader{
font-size: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
    &__conteneur{
        position: fixed;
            @include display;
            align-items: center;
            background-color: $white;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.9;
            animation: apparition 6s forwards;
            animation-duration: 7s;
            animation-fill-mode: forwards;
    }

    &__titre{
        font-family: 'Shrikhand';
        @include display;
        position: absolute;
    }
}
.loader-circles{
    border-radius: 100%;
    border: 6px solid transparent;
    border-top-color: $couleur-primaire;
    opacity: 1;
    animation: spin 1s linear infinite;
}
.loader-circles::after{
    content: "";
    position: absolute;
    inset: 8px;
    border-radius: 100%;
    border: 6px solid transparent;
    border-top-color: $couleur-secondaire;
    opacity: 0.8;
    animation: spin linear 2s infinite;
}
.loader-circles::before{
    content:"";
    position: absolute;
    inset: 20px;
    border-radius: 100%;
    border: 6px solid transparent;
    border-top-color: $couleur-tertiaire;
    opacity: 0.8;
    animation: spin linear 3s infinite;
}
/*Header page d'acceuil*/
header {
    @include display;
    background-color: $white;
    width:100%;
}

/*Header pages restaurants*/
.header{
    font-family: 'Shrikhand', sans-serif;
    @include display;
    align-items: center;
    &__fleche-retour{
        position: absolute;
        left:25px;
        @include titre
    }
}

/*Body*/
body{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
/*Décoration liens*/
a{
    text-decoration: none;
    color: black;
}

/*Footer*/

.footer{
    background-color: $mine-shaft;
    height:150px;
    &__titre{
        font-family: 'Shrikhand';
        font-weight:100;
        color: $white;
        padding: 20px 0 0 10px;
    }
    &__liste{
        list-style: none;
        color: $white;
        padding-inline-start: inherit;
        padding-left: 10px;
    }
    &__liste-info{
        color: $white;
        padding-top: 10px;
        font-weight:400;

    }
}
